<div class="orb-wrapper small-4 columns">
  <div class="inner-orb">
    <div class="orb" style=  "background: <%= color1 %>;
                              background: -webkit-radial-gradient(at 85% 15%, <%= color1 %>, <%= color2 %>);
                              background: -o-radial-gradient(at 85% 15%, <%= color1 %>, <%= color2 %>);
                              background: -moz-radial-gradient(at 85% 15%, <%= color1 %>, <%= color2 %>);
                              background: radial-gradient(at 85% 15%, <%= color1 %>, <%= color2 %>);"
    ></div>
    <h4><%= title %></h4>
  </div>
</div>
